.first-top {
    margin: 5rem;
}

h1 {
    padding-top: 10px;
}

.tag a {
    padding: 8px;
    background-color: #e2e8f0;
    border-radius: 10px;
    width: fit-content;
    color: #718096;
}

.tag a:hover {
    color: #e2e8f0;
    background-color: #718096;
}

.update-text {
    padding-left: 10px;
    position: absolute;
    bottom: 0;
}

.update-text::before {
    background-color: #a3bffa;
    content: "";
    border-radius: 9999px;
    position: absolute;
    height: 100%;
    width: 5px;
    top: 0px;
    left: 0px;
}

.head-img {
    text-align: right;
}

.head-img img {
    width: 70%;
}

.txt-content {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    border: 0px;
}

.footer-tag {
    position: relative;
}
.tag-list {
    display: flex;
    align-items: baseline;
}

.tag-list h5 {
    color: #718096;
    font-size: 17px;
}

.tag-list .tag a {
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 10px;
    font-size: 14px;
}

/* .tag-list .share {
    display: flex;
    position: absolute;
    right: 50px;
} */

.share {
    position: absolute;
    display: flex;
    align-items: flex-start;
    top: 0;
    right: 20px;
}
.share h5 {
    color: #718096;
    font-size: 17px;
}
.share a {
    padding-left: 10px;
}

.fa-facebook {
    font-size: 24px;
    color: rgb(66, 103, 178);
}

/* .share a:hover {
    background-color: rgb(66, 103, 178);
    color: #fff;
    border-radius: 999px;
} */



@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    .txt-header-blog h3 {
        padding-left: 0px;
    }

    .update-text {
        position: relative;
    }

    .head-img {
        text-align: center;
    }

    /* .tag-list {
        position: relative;
    }

    .tag-list .share {
        right: 0;
        top: 40px;
    } */

    .tag-list h5 {
        font-size: 16px;
    }
    .share h5 {
        font-size: 16px;
        padding-top: 2px;
    }
    .share {
        position: relative;
        right: 0;
    }
    .fa-facebook {
        font-size: 20px;
        margin-top: 3px;
    }
}